{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create Listing</h2>
    
    <form action="{% url 'create_listing' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <h6>Title of listing</h6>
        <input type="text" class="form-control " name="title" style="width: 30% ">

        <br><br>

        <h6>Description of listing</h6>
        <textarea class="form-control" rows="3" name="description"  style="width: 30% "></textarea>

        <br><br>

        <h6>Starting bid</h6>
        <input type="number" class="form-control" name="price"  style="width: 30% ">$

        <br><br>

        <h6>Image URL</h6>
        <input type="file" name="image_url" class="form-control" accept="image/*"  style="width: 30% ">
        <input type="file" name="image_url2" class="form-control" accept="image/*" required="False"  style="width: 30% ">

        <br><br>

        <h6>Category</h6>
        <select name="categories" class="custom-select"  style="width: 30% ">
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category }}</option>
            {% endfor %}
        </select>
        
        <br><br>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}
