{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
<div class="row">
    <div class="column" style="padding: 20px;">
        <h6>Categories</h6>
            <form action="{% url 'categories' %}" method="post">
                {% csrf_token %}
                <select name="categories" class="custom-select">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category }}</option>
                    {% endfor %}
                </select>               
                <input type="submit" value="Search" class="btn btn-outline-primary" style="margin-top: 5px;">
            </form>
    </div>
    
</div>
    <ul style="list-style-type:none;">
        {% for listing in page_obj %} 
           
                <div class="container" style="min-height: 30vh; background-color: rgba(138, 129, 133, 0.628); margin-top: 50px;margin-bottom: 50px; padding: 20px; border-radius: 10px;">
                    <div class="row">
                            <div class="col col-xs-6 .col-lg-5">
                                <img src="{{ listing.image_url }}" style="max-width:400px; max-height: 400px;"/>
                            </div>
                            <div class="col col-xs-6 .col-lg-7" >
                                <h5><a href="{% url 'listing' listing.id %}" style="color: black;">{{ listing.title }}</a></h5>
                                <div>{{ listing.description }}</div>
                                <div>Bid: ${{ listing.price }}</div>
                                <div>Listed by: {{ listing.user }}</div>
                            </div>
                    </div>
                </div>
            
            
        {% empty %}
            <li>No active listings</li>

        {% endfor %}
    </ul>

    <div class="pagination" style="justify-content: center;">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a id="first" href="?page=1">First</a>
                <a id="prev" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
            {% else %}
                <a id="prev" href="#" style="pointer-events: none;">&laquo;</a>
            {% endif %}
            
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
            
            {% if page_obj.has_next %}
                <a id="next" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                <a id="last" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% else %}
                <a id="next" href="#" style="pointer-events: none;">&raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}